{%- block header -%}
// avro rust struct for file: {{ file.name |snake_case}}
#![allow(unused_imports)]
#![allow(non_camel_case_types)]
use bytes;
use derivative::Derivative;
use std::collections::HashMap;
{%- endblock -%}