{%- block basicimports %}
use apache_avro::{Schema, Error};

use apache_avro::{AvroResult, from_value, from_avro_datum};
use std::io::Read;

{%- if macros.isEtpMessage(file) == "true" %}
use crate::helpers::ETPMetadata;
{% endif -%}
use crate::helpers::Schemable;

{%- if file.avrotype == 'enum' -%}
use std::fmt;
use std::slice::Iter;
use std::str::FromStr;
{# {%- elif file.avrotype == 'fixed' %} #}
{# from {{pip_import}}.helpers import Fixed #}
{%- elif file.avrotype == 'record' %}
{%- endif -%}
{% endblock %}