{%- block basicimports %}

{%- if macros.isEtpMessage() == "true" -%}
use avro_rs::{Schema, Error};
use crate::helpers::EtpMessageBody;
{% endif %}

{%- if file.avrotype == 'enum' %}
{# {%- elif file.avrotype == 'fixed' %} #}
{# from {{pip_import}}.helpers import Fixed #}
{%- elif file.avrotype == 'record' %}
{%- endif -%}
{% endblock %}