{%- if field.fieldtype == 'array' -%}
{%- if field.array_item_type.fieldtype == 'reference' -%}
Vec<{{field.array_item_type.reference_name}}>
{#- {%- elif file.name.startswith('ArrayOf') and field.array_item_type.fieldtype == 'primitive' -%}
Vec<{{primitive_type_map[field.array_item_type.avrotype]}}> #}
{%- elif field.array_item_type.fieldtype == 'primitive' -%}
Vec<{{primitive_type_map[field.array_item_type.avrotype]}}>
{%- elif field.array_item_type.fieldtype == 'union' -%}
  {%- if field.array_item_type.optional %}
    {%- if field.array_item_type.union_types|length > 1 -%}
    Vec<Option<{{get_union_types_enum_name(get_union_types(field.array_item_type, True, None))}}>>
    {%- else -%}
    Vec<Option<{{get_union_types_enum_name(get_union_types(field.array_item_type, True, None))}}>>
    {%- endif -%}
  {%- else-%}
  Vec<{{get_union_types_enum_name(get_union_types(field.array_item_type, True, None))}}>
  {%- endif -%}
{%- endif -%}
{%- endif -%}