{%- macro compute_default(field) -%}
{%- if field.fieldtype == 'reference' -%}
{%- elif field.fieldtype == 'primitive' -%}
    {%- if field.avrotype == "string" %}
    #[derivative(Default(value = r#"String::from("{{field.default}}")"# ))]
    {%- elif field.avrotype == 'boolean' %}
    #[derivative(Default(value = "{{field.default | snake_case}}" ))]
    {%- else %}
    #[derivative(Default(value = "{{field.default}}" ))]
    {%- endif -%}
{%- elif field.fieldtype == 'array' %}
    #[derivative(Default(value = "Vec::new()" ))]
  {#-#[derivative(Default(value = "Vec::new({{field.default}})" ))]-#}
{%- elif field.fieldtype == 'union' -%}
{%- elif field.fieldtype == 'map' %}
    #[derivative(Default(value = "HashMap::new()" ))]
    {#- #[derivative(Default(value = "{{field.default}}" ))] -#}
{%- endif -%}
{%- endmacro -%}
{#-  -#}
{#-  -#}
{#-  -#}
{%- macro compute_field_name(name) -%}
{%- if name|snake_case|is_reserved -%}
  pub {{name|snake_case ~ '_ '}}
{%- else -%}
  pub {{name|snake_case}}
{%- endif -%}
{% endmacro -%}
{#-  -#}
{#-  -#}
{#-  -#}
{# {%- if field.reference_name == 'Uuid' -%}  #[serde(with = "serde_bytes")]  {% endif -%} #}
{% block field_factory %}
  {%- if field.fieldtype == 'reference' and field.reference_name == "Uuid" %}
    #[serde(with = "serde_bytes")]
  {%- endif %}
	#[serde(rename = "{{name}}")]
  {%- if field.default is not none -%}
    {{compute_default(field)}}
  {%- endif %}
    {{compute_field_name(name)}}: {#  -#}
{%- include 'fields/referenceField.j2' -%}
{%- include 'fields/primitiveField.j2' -%}
{%- include 'fields/arrayField.j2' -%}
{%- include 'fields/unionField.j2' -%}
{%- include 'fields/mapField.j2' -%}
,
{% endblock %}