{%- macro isEtpMessageMeta(attribute) -%}
{%- if ("protocol" == attribute
        or "messageType" == attribute
        or "senderRole" == attribute
        or "protocolRoles" == attribute
        or "multipartFlag" == attribute
        )
     -%}
    true
    {%- else -%}
    false
    {%- endif -%}
{%- endmacro -%}
{%- macro isEtpMessage() -%}
{%- if ("protocol" in file.schema
        or "messageType" in file.schema
        or "senderRole" in file.schema
        or "protocolRoles" in file.schema
        or "multipartFlag" in file.schema
        )
     -%}
    true
    {%- else -%}
    false
    {%- endif -%}
{%- endmacro -%}

{%- if file.avrotype == 'fixed' -%}
{%- include 'files/fixed.j2' -%}
{%- else -%}
{%- include 'partials/header.j2' %}
{% include 'imports/basicImports.j2' %}
{% include 'imports/fileImports.j2'%}

{%- if file.avrotype == 'enum' -%}
{%- include 'files/enum.j2' -%}
{%- elif file.avrotype == 'record' -%}
{%- include 'files/record.j2' -%}
{%- endif -%}

{%- include 'partials/footer.j2' %}
{% endif %}