{%- macro compute_default(field) -%}
  {%- if field.default is not none -%}
    =
    {%- if field.default == "" -%}
      String::from("")
      {%- else -%}
        {%- if field.avrotype == "string" -%}
           String::from("{{field.default}}")
        {%- else -%}
           {{field.default}}
        {%- endif -%}
      {%- endif -%}
  {%- endif -%}
{%- endmacro %}
{%- block primitive %}
    {{compute_field_name(name)}}: {{primitive_type_map[field.avrotype]}} {{compute_default(field)}}
{%- endblock -%}
