{%- block enum %}

{{ macros.derive(None, true) }}
pub enum {{file.name}}{
/* {{file.default}} */
{%- block enumStruct %}
{%- if not file.default %}
    {#- #[default] -#}
{%- endif -%}
{%- for symbol in file.symbols %}
    #[serde(rename(serialize = "{{symbol}}", deserialize = "{{symbol}}"))]
    {#  -#}
    {%- if symbol == file.default -%}
    {#- #[default] -#}
    {% endif -%}
    {%- if symbol|pascal_case|is_reserved -%}
    {{symbol|pascal_case ~ '_ '}}
    {%- else -%}
    {{symbol|pascal_case}}
    {%- endif -%}
    {%- if file.name == "Protocol" -%}
        ={{loop.index0}}
    {%- endif -%}
    ,
{%- endfor %}
{% endblock -%}
}

impl fmt::Display for {{file.name}}{
     fn fmt(&self, f: &mut fmt::Formatter<'_>) -> fmt::Result {
        write!(
            f,
            "{}",
            match self {
            {%- for symbol in  file.symbols -%}
                {%- if symbol != file.default %}
                {#  #}
                {%- if symbol|pascal_case|is_reserved -%}
                {{file.name}}::{{symbol|pascal_case ~ '_ '}}
                {%- else -%}
                {{file.name}}::{{symbol|pascal_case ~ ' '}}
                {%- endif -%}
                => "{{symbol}}",
                {%- endif -%}
            {% endfor %}
            }
        )
    }
}

impl FromStr for {{file.name}} {
    type Err = ();
    fn from_str(input: &str) ->  Result<{{file.name}}, Self::Err> {
        match input {
        {%- for symbol in  file.symbols %}
            "{{symbol}}" => {#  -#}Ok(
            {%- if symbol|pascal_case|is_reserved -%}
            {{file.name}}::{{symbol|pascal_case ~ '_'}}
            {%- else -%}
            {{file.name}}::{{symbol|pascal_case}}
            {%- endif -%}),
        {%- endfor %}
            _ => Err(()),
        }
    }
}

impl {{file.name}}{
    pub fn iter() -> Iter<'static, {{file.name}}> {
        static VEC_ENUM: [{{file.name}}; {{file.symbols | length}}] = [
        {%- for symbol in  file.symbols -%}
            {%- if symbol != file.default %}
            {#  #}
            {%- if symbol|pascal_case|is_reserved -%}
            {{file.name}}::{{symbol|pascal_case ~ '_ '}}
            {%- else -%}
            {{file.name}}::{{symbol|pascal_case ~ ' '}}
            {%- endif -%}, {#  -#}
            {%- endif -%}
        {% endfor -%}
        ];
        VEC_ENUM.iter()
    }
}
{% endblock -%}
