{%- block fixed -%}
{%- if file.name == 'Uuid' -%}
#![allow(unused_imports)]

// pub use uuid::{uuid, Uuid};
use uuid::{uuid, Uuid as _Uuid};


pub type Uuid = [u8; 16];

pub fn random_uuid() -> Uuid{
	*_Uuid::new_v4().as_bytes()
}
{% endif -%}
{%- endblock -%}