{%- import 'macro.j2' as macros with context -%}
#![allow(dead_code)]
{% include 'partials/header.j2' %}

{{ macros.derive(None, true) }}
pub enum ProtocolMessage{
{% for file in protocols -%}
{#-  #}	{{ macros.get_protocol_name(file) }}_{{ file.name }}({{ macros.compute_ns_type_name(file.namespace, file.name) }}),
{% endfor -%}
}