{%- block enum %}
use std::fmt;

#[derive(Debug, PartialEq, Clone, serde::Deserialize, serde::Serialize)]
#[serde(rename_all = "camelCase")]
pub enum {{file.name}}{   
{%- block enumStruct %}
{%- if file.default %}
    // the first value ({{file.default}}) is the default
    {{file.default}} {# = String::from(r#"{{file.default}}"#) #}
{% endif -%}
{%- for symbol in  file.symbols -%}
{%- if symbol != file.default %}
    {#  #}
    {%- if symbol|snake_case|is_reserved -%}
    {{symbol|snake_case ~ '_ '}},
    {%- else -%}
    {{symbol|snake_case}},
    {%- endif -%}
{%- endif -%}
{% endfor %}
{% endblock -%}
}

impl fmt::Display for {{file.name}}{
     fn fmt(&self, f: &mut fmt::Formatter<'_>) -> fmt::Result {
        write!(
            f,
            "{}",
            match self {
            {%- for symbol in  file.symbols -%}
                {%- if symbol != file.default %}
                {#  #}
                {%- if symbol|snake_case|is_reserved -%}
                {{file.name}}::{{symbol|snake_case ~ '_ '}}
                {%- else -%}
                {{file.name}}::{{symbol|snake_case ~ ' '}}
                {%- endif -%}
                => "{{symbol}}",
                {%- endif -%}
            {% endfor %}
            }
        )
    }
}
{% endblock -%}
