{%- block record -%}
{% set ns = namespace(optional=false) %}
#[derive(Debug, PartialEq, Eq, Clone, serde::Deserialize, serde::Serialize)]
#[serde(rename_all = "camelCase")]
pub struct {{file.name}}{

    {% include 'partials/avroSchema.j2' %},
{# first the fields without defaults then the others -#}
{%- for name, field in file.fields.items() -%}
    {%- if field.default is none: -%}
    {%- include 'fields/fieldFactory.j2' -%}
    {%- endif -%}
{%- endfor -%}
{%- for name, field in file.fields.items() -%}
    {%- if field.default is not none: -%}
    {%- include 'fields/fieldFactory.j2' -%}
    {%- endif -%}
{%- endfor -%}
{% if file.name == 'AnyArray' %}
{% endif %}
}
{%- endblock %}